.mainContent {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px); /* כדי לשמור על גובה עמוד מלא */
  background-color: #f0f4f8;
  font-family: sans-serif;
}
